@{
    ViewData["Title"] = "Fornecedores";
}

<partial name="_Aguarde" />

<br />

<div class="row">
    <div class="col-md-12">
        <a asp-area="Cadastros" asp-controller="Fornecedores" asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Create New</a>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Fornecedores</div>
            <div class="card-body" style="overflow-x: auto">

                <table id="tbgrid" class="table table-hover table-bordered" style="width: 100%">
                    <thead>
                        <tr>

                            <th class="no-sort"></th>
                            <th class="no-sort"></th>
                            <th class="text-center">Id</th>
                            <th class="text-center">Apelido</th>
                            <th class="text-center">Nome</th>
                            <th class="text-center">CPF/CNPJ</th>

                            <th class="text-center">E-Mail</th>
                        </tr>
                    </thead>
                </table>


            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script type="text/javascript">

        colunas = [
            {
                "data": "Id",
                "searchable": false,
                "sortable": false,
                "width": "2%",
                "sClass": "text-center",
                "render": function (id) {
                    return "<a href='#' class='btn btn-primary btn-sm showhint' title='Alterar registro'><i class='fas fa-pencil-alt'></a>"
                }
            },
            {
                "data": "Id",
                "searchable": false,
                "sortable": false,
                "width": "2%",
                "sClass": "text-center",
                "render": function (id) {
                    return "<a href='#' class='btn btn-danger btn-sm showhint' title='Excluir registro'><i class='fas fa-trash-alt'></a>"
                }
            },
            {
                "data": "Id",
                "width": "2%",
                "sClass": "text-center"
            },
            {
                "data": "Apelido",
                "width": "28%",
                "sClass": "text-left"
            },
            {
                "data": "Nome",
                "width": "40%",
                "sClass": "text-left"
            },
            {
                "data": "CpfCnpj",
                "width": "16%",
                "sClass": "text-left"
            },
            {
                "data": "Email",
                "width": "20%",
                "sClass": "text-left"
            }
        ];

        $(document).ready(function () {
            ListagemConsulta("tbgrid", urlFornecedores, colunas);
        });

    </script>

}

